.container{
    text-align: center;
}

label {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin: 20px;
}
input[type="text"] {
    padding: 8px;
    width: 180px;
    margin-bottom: 10px;
    color: #8f8f8f;
}
