label {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 10px;
}

input[type="text"] {
    padding: 8px;
    width: 200px;
    margin-bottom: 10px;
}

.save-button {
    margin-left: 110px;
}