.homePage {
    background-color: #f2f2f2; /* Button background color */
    background-image: url("../svg/home.svg");
    background-repeat: no-repeat;
    background-position: center;
    color: #333; /* Button text color */
}

.homePage:hover {
    background-color: #DCDCDC;
    color: #f2f2f2;
}

.user {
    background-color: #f2f2f2; /* Button background color */
    background-image: url("../svg/user.svg");
    background-repeat: no-repeat;
    background-position: center;
    color: #333; /* Button text color */
}

.user:hover {
    background-color: #DCDCDC;
    color: #f2f2f2;
}

.icon {
    margin: 10px;
}

.navbar {
    display: flex;
    overflow: hidden;
    background-color: #f2f2f2;
    justify-content: space-between;
    align-items: center;
}

.navbar a, .dropbtn {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
    background-color: #f2f2f2;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f2f2f2;
    min-width: 160px;
    z-index: 1;
    top: 11%;
}

.dropdown-content a {
    float: none;
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: #f2f2f2;
}

.dropdown-content a:hover {
    background-color: #DCDCDC;
}

.dropdown:hover .dropbtn {
    background-color: #DCDCDC;
}

.dropdown:hover .dropdown-content {
    display: block;
}