.homePage {
    background-color: #f2f2f2; /* Button background color */
    background-image: url("../svg/home.svg");
    background-repeat: no-repeat;
    background-position: center;
    color: #333; /* Button text color */
    border: #ccc;
    padding: 5px 15px;
}

.homePage:hover {
    background-color: #DCDCDC;
}

.user {
    background-color: #f2f2f2; /* Button background color */
    background-image: url("../svg/user.svg");
    background-repeat: no-repeat;
    background-position: center;
    color: #333; /* Button text color */
    border: #ccc;
    padding: 5px 15px;
}

.user:hover {
    background-color: #DCDCDC;
}

.header {
    display: flex;
    background-color: #f2f2f2;
    flex-direction: row;
    justify-content: space-around;
    height: 40px;
    align-items: center;
    position: sticky;
    top: 0;
}

.button {
    text-align: center;
    padding: 5px 15px;
    color: #333;
    border: #ccc;
    background-color: #f2f2f2;
}

.button:hover {
    background-color: #DCDCDC;
}

.panelGroup {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50px;
    left: -150px;
    text-align: center;
    height: 30px;
    width: 150px;
    padding: 5px 15px;
    color: #333;
    border: #ccc;
    background-color: #f2f2f2;
}

.panelGroup:hover {
    background-color: #DCDCDC;
}