table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #333;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.back-button {
    background-image: url('../svg/left.svg');
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 25px;
    background-color: #f9f9f9;
    height: 40px;
    font-size: 14px;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    flex-direction: row;
}

.select {
    border-color: #f0f0f0;
    font-size: 14px;
}

.viewButton {
    margin-right: 10px;
    background-image: url("../svg/view.svg");
    background-repeat: no-repeat;
    background-position: center;
    color: #333;
    border: #ccc;
    padding: 5px 15px;
    background-color: transparent;
}
.viewButton:hover{
    background-color: #DCDCDC;
}
.deleteButton{
    background-image: url("../svg/delete.svg");
    background-repeat: no-repeat;
    background-position: center;
    color: #333;
    border: #ccc;
    padding: 5px 15px;
    background-color: transparent;
}
.deleteButton:hover{
    background-color: #DCDCDC;
}

.firstPage {
    background-color: #f5f5f5; /* Button background color */
    background-image: url("../svg/leftmost.svg");
    background-repeat: no-repeat;
    background-position: center;
    color: #333; /* Button text color */
    border: #ccc;
    padding: 5px 15px;
}
.firstPage:hover{
    background-color: #DCDCDC;
}

.lastPage {
    background-color: #f5f5f5; /* Button background color */
    background-image: url("../svg/rightmost.svg");
    background-repeat: no-repeat;
    background-position: center;
    color: #333; /* Button text color */
    border: #ccc;
    padding: 5px 15px;
}
.lastPage:hover{
    background-color: #DCDCDC;
}

.next {
    background-color: #f5f5f5; /* Button background color */
    background-image: url("../svg/next.svg");
    background-repeat: no-repeat;
    background-position: center;
    color: #333; /* Button text color */
    border: #ccc;
    padding: 5px 15px;
}
.next:hover{
    background-color: #DCDCDC;
}

.previous {
    background-color: #f5f5f5; /* Button background color */
    background-image: url("../svg/previous.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: #ccc;
    padding: 5px 15px;
}
.previous:hover{
    background-color: #DCDCDC;
}

.rest {
    align-items: center;
    background-color: #f5f5f5; /* Button background color */
    padding: 5px 15px; /* Button padding */
}
.rest:hover{
    background-color: #DCDCDC;
}

.repeat {
    text-align: center;
    padding: 5px 15px;
    color: #333;
    background-color: #f5f5f5;
    border: #ccc;
    text-decoration: none;
}
.repeat:hover{
    background-color: #DCDCDC;
}

.current {
    align-items: center;
    padding: 5px 15px;
    border: #ccc;
    color: #333;
    background-color: #DCDCDC;
    text-decoration: none;
}

.text {
    text-align: center;
    border: 1px solid;
    border-color: #f0f0f0;
    margin-right: 5px;
}

.pagination {
    display: flex;
    justify-content: center;
    height: 30px;
}
.homePage{
    background-color: #f2f2f2; /* Button background color */
    background-image: url("../svg/home.svg");
    background-repeat: no-repeat;
    background-position: center;
    color: #333; /* Button text color */
    border: #ccc;
    padding: 5px 15px;
}
.homePage:hover{
    background-color: #DCDCDC;
}
.user{
    background-color: #f2f2f2; /* Button background color */
    background-image: url("../svg/user.svg");
    background-repeat: no-repeat;
    background-position: center;
    color: #333; /* Button text color */
    border: #ccc;
    padding: 5px 15px;
}
.user:hover{
    background-color: #DCDCDC;
}
.header{
    display: flex;
    background-color: #f2f2f2;
    flex-direction: row;
    justify-content: space-around;
    height: 40px;
    align-items: center;
    position: sticky;
    top: 0;
}
.button{
    text-align: center;
    padding: 5px 15px;
    color: #333;
    border: #ccc;
    background-color: #f2f2f2;
}
.button:hover{
    background-color: #DCDCDC;
}
.panelGroup{
    display: flex;
    flex-direction: column;
    position: relative;
    top:50px;
    left: -150px;
    text-align: center;
    height: 30px;
    width: 150px;
    padding: 5px 15px;
    color: #333;
    border: #ccc;
    background-color: #f2f2f2;
}
.panelGroup:hover{
    background-color: #DCDCDC;
}
.homePage-image-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 700px;
}