table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #333;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.back-button {
    background-image: url('../svg/left.svg');
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 25px;
    background-color: #f9f9f9;
    border-radius: 5px;
    height: 40px;
    font-size: 14px;
    text-align: center;
}