table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #333;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}


.back-button {
    background-image: url('../svg/left.svg');
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 25px;
    background-color: #f9f9f9;
    height: 40px;
    font-size: 14px;
}
.button-container {
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.label{
    margin-right: 150px;
}

.select{
    border: #ccc;
    background-color: #ffffff;
    color: #333;
    font-size: 14px;
    margin-right: 150px;
}
.firstPage{
    width: 50px;
    height: 30px;
    background-color: #f5f5f5; /* Button background color */
    background-image: url("../svg/leftmost.svg");
    background-repeat: no-repeat;
    background-position: center;
    color: #333; /* Button text color */
    border:  #ccc;
}
.lastPage{
    width: 50px;
    height: 30px;
    background-color: #f5f5f5; /* Button background color */
    background-image: url("../svg/rightmost.svg");
    background-repeat: no-repeat;
    background-position: center;
    color: #333; /* Button text color */
    border:  #ccc;
    margin-right: 150px;
}
.next{
    width: 50px;
    height: 30px;
    background-color: #f5f5f5; /* Button background color */
    background-image: url("../svg/next.svg");
    background-repeat: no-repeat;
    background-position: center;
    color: #333; /* Button text color */
    border: #ccc;
}
.previous{
    width: 50px;
    height: 30px;
    background-color: #f5f5f5; /* Button background color */
    background-image: url("../svg/previous.svg");
    background-repeat: no-repeat;
    background-position: center;
    border:  #ccc;
}
.rest{
    background-color: #f5f5f5; /* Button background color */
    padding: 5px 10px; /* Button padding */
}

.repeat {
    padding: 5px 10px;
    color: #333;
    background-color: #f5f5f5;
    border:  #ccc;
    text-decoration: none;
}
.current{
    padding: 5px 10px;
    border:  #ccc;
    color: #333;
    background-color: #DCDCDC;
    text-decoration: none;
}







