table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #333;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.back-button {
    background-image: url('../svg/left.svg');
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 25px;
    background-color: #f9f9f9;
    height: 40px;
    font-size: 14px;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.select {
    border-color: #f0f0f0;
    font-size: 14px;
}

.viewButton {
    margin-right: 10px;
}

.firstPage {
    background-color: #f5f5f5; /* Button background color */
    background-image: url("../svg/leftmost.svg");
    background-repeat: no-repeat;
    background-position: center;
    color: #333; /* Button text color */
    border: #ccc;
    padding: 5px 15px;
}

.lastPage {
    background-color: #f5f5f5; /* Button background color */
    background-image: url("../svg/rightmost.svg");
    background-repeat: no-repeat;
    background-position: center;
    color: #333; /* Button text color */
    border: #ccc;
    padding: 5px 15px;
}

.next {
    background-color: #f5f5f5; /* Button background color */
    background-image: url("../svg/next.svg");
    background-repeat: no-repeat;
    background-position: center;
    color: #333; /* Button text color */
    border: #ccc;
    padding: 5px 15px;
}

.previous {
    background-color: #f5f5f5; /* Button background color */
    background-image: url("../svg/previous.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: #ccc;
    padding: 5px 15px;
}

.rest {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5; /* Button background color */
    padding: 5px 15px; /* Button padding */
}

.repeat {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    color: #333;
    background-color: #f5f5f5;
    border: #ccc;
    text-decoration: none;
}

.current {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    border: #ccc;
    color: #333;
    background-color: #DCDCDC;
    text-decoration: none;
}

.text {
    text-align: center;
    border: 1px solid;
    border-color: #f0f0f0;
    margin-right: 5px;
}

.pagination {
    display: flex;
    height: 40px;
    margin-right: 100px;
}